@CHARSET "UTF-8";

* { 
    margin: 0; 
    padding: 0;
}

html, body{
    box-sizing: border-box;
    margin: 0 auto;
    line-height: 1; 
}

[class*="col_"]:first-child {
    margin-left: 0;
}

[class*="col_"] {
    float: left;
    min-height: 50px;
}

.row:before, .row:after {
    content: "";
    clear: both;
    display: block;    
}

body{
    background-color: black;
}

/*.icon_ham, .cross{
    display: none;
}*/

.preta{
    background-color: white;
    display:inline-block;
    min-height: 45px;
    max-height: 60px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logod{
    display: inline-block;  
}
.logo{
    margin-top: 10%;
    height: 40px;
    cursor:pointer;
}
.infod, .progd, .tecnd, .cursosd, .rucd{
    position: relative;
    display: inline-block;
    padding-right: 2%;
}

.info-content a:hover, .prog-content a:hover, .tecn-content a:hover, .cursos-content a:hover, .ruc-content a:hover {
    text-decoration: underline;
}


.universidade, .cultura, .desporto, .coimbra, .nacional, .internacional, .programas, .cronicas, .tecnicos, .equipamentos, .publicidade, .pessoas, .historia, .tecnica, .informacao, .ultimas, .grelha, .producao, .locucao,  .contactos{
    display: block;
    width: 100%;
    padding-top: 10%;
    
    
}

.info-content, .prog-content, .tecn-content, .cursos-content, .ruc-content{
    padding: 1em;
    text-align: left;
    display: none;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    content: "";
    clear: both;
}

.infod:hover .info-content {
    display: block;
}

.rucd:hover .ruc-content {
    display: block;
}

.cursosd:hover .cursos-content {
    display: block;
}

.progd:hover .prog-content {
    display: block;
}

.tecnd:hover .tecn-content {
    display: block;
}

nav{
    text-align: center;
    margin-top: 1.5%;
    line-height: 1.2;
}

nav a:hover{
    color: #e32436;
    cursor:pointer;
    text-decoration: underline; 
}

.infod, .progd, .tecnd, .cursosd{
    border-right: 3px solid black;
}

.infod, .progd, .tecnd, .cursosd, .rucd{
    font-family:Verdana, Geneva, sans-serif;
    font-weight: lighter;
    color: black;
    text-transform:uppercase;
    padding-right: 2%;
    padding-left: 2%;
    font-size: 1em;
    letter-spacing: 0.1em;
}

.emissao{
    margin-top: 1.5%;
}

.ligar{
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    color: black;
    text-transform:uppercase;
    position: absolute;
}

.ligar:hover{
    text-decoration:underline;
    cursor: pointer;
}

.parar{
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    color: black;
    text-transform:uppercase;
    position: relative;
}

.parar:hover{
    text-decoration:line-through;
    cursor: pointer;
}

.titulo{
    text-align: center;
    position: relative; 
}

.filtro{
    position: absolute;
}

.radiouni{
    font-size: 2em;
    font-family: verdana, geneva, "sans-serif";
    color: white;
    font-weight: bold;   
}

.centoesete{
    color: #e32437
}

video#pvid { 
    top: 50%;
    left: 50%;
    position:fixed;
    width: 100vw;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}

header{
    height: 80vh;
}

.gradiend{
    background-color:#0f0f0f; 
    -webkit-mask-image: -webkit-gradient(linear, left bottom, 
    left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    height: 15vh;
}

.preto{
    background-color: #0f0f0f;
}

.preto_{
    background-color: #0f0f0f;
}

.bacanal{
    margin-top: 10%;
    width: 100%;
}

.ulinf{
    background-color: #0f0f0f;
}

.widgets{
}

.grelha_actual{
    background-color: whitesmoke;
    height: 350px;
}

.fb_feed{
    height: 280px;
    margin-top: 10%;
    background-color: whitesmoke;
}

.ultimastitulo{
    font-size: 1.5em;
    color: white;
    font-family: Verdana;
    font-weight: bold;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 10%;
    text-transform: uppercase;
}

.ultimastitulo a{
    color: #e32436;
}

.newsfeed div{
    color: white;
    margin-right: 4%;
    display: inline-block;
}

.newsfeed a{
    color: #e32436;
}

.newsfeed p{
    color: black;
}

.new_content, .new_content_, .new_content_1{
    background-color: #f9f9f9;
    padding:4%;
    line-height: 1.5;
}

.new_content_, .new_content_1{
    margin-top: 4%;
}

.new_content_1{
    margin-bottom: 5%;
}

.content_title{
    font-weight: bold;
    padding-bottom:2%;
}

.social{
    margin-top: 7%; 
    margin-bottom: 5%;
    text-align: center;
}

.ler_mais{
    background-color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
}

.ler_mais p{
    color: black;
    font-family: Verdana, gevena, 'sans-serif';
    font-weight: bold;
    text-transform: uppercase;
}

.ler_mais:hover{
    cursor: pointer;
}

.ler_mais:hover p{
    color:red;
}

.social img{
    width: 13%;
    padding-left: 5%;
    padding-right: 5%;
}

footer{
    background-color: #0f0f0f;
}

.separador{
    background-color: white;
    min-height: 5px;
}

.radiofim{
}

.fim{
    color: white;
    text-align: center;
}

.e_separador{
    display:in;
    height: 5px;
}

.fimnome{
    font-family: verdana, geneva, "sans-serif";
    font-weight: bolder;
    text-transform: uppercase;
    color: #e32436;
    font-size: 2em;
}

.fimcopy{
    font-family: Georgia,Times,serif;
    font-weight: normal;
    margin-top: 2%;
    color: dimgrey;
    font-size: 0.75em;
}

/*provisório*/


@media screen and (min-width: 991px) {
    
    .col_1 {width: 8.33%;}
    .col_2 {width: 16.66%;}
    .col_3 {width: 25%;}
    .col_4 {width: 33.33%;}
    .col_5 {width: 41.66%;}
    .col_6 {width: 50%;}
    .col_7 {width: 58.33%;}
    .col_8 {width: 66.66%;}
    .col_9 {width: 75%;}
    .col_10 {width: 83.33%;}
    .col_11 {width: 91.66%;}
    .col_12 {width: 100%;}
    
    [class*="col_"]:first-child {margin-left: 0;}
    [class*="col_"]:last-child {margin-right: 0;}

    [class*="col_"] {float:left;}
    
    
    .info-content, .prog-content, .tecn-content, .cursos-content, .ruc-content{
        position: absolute;
    }
    
}

@media screen and (min-width: 480px) and (max-width: 990px) {
    
    .colt_1 {width: calc(11.1%);}
    .colt_2 {width: calc(23.8%);}
    .colt_3 {width: calc(36.5%);}
    .colt_4 {width: calc(49.2%);}
    .colt_5 {width: calc(61.9%);}
    .colt_6 {width: calc(74.6%);}
    .colt_7 {width: calc(87.3%);}
    .colt_8 {width: calc(100%);}

    
    [class*="colt_"]:first-child {margin-left: 0;}
    [class*="colt_"]:last-child {margin-right: 0;}

    [class*="colt_"] {float:left;}
    
}

@media screen and (max-width: 480px) {
    
    .colm_1 {width: calc(18.72%);}
    .colm_2 {width: calc(39.04%);}
    .colm_3 {width: calc(59.36%);}
    .colm_4 {width: calc(79.68%);}
    .colm_5 {width: calc(100%);}
    
    [class*="colm_"]:first-child {margin-left: 0;}
    [class*="colm_"]:last-child {margin-right: 0;}

    [class*="colm_"] {float:left;}
    
    video#pvid{
        top: 20%;
    }
    
    .gradiend{
        height: 0;
        
    }
    
    header{
        height: 40vh;
    }
    
    .titulo{
        top: 0;
        font-size: 0.6em;
    }
    
    .radiouni{
        margin-top:60%;
        margin-bottom: 10%;
    }
    
    nav{
        height: 100vh;
        background-color: white;
        position: absolute;
        margin-top: 15%;
        opacity: 1;
    }
    
    .icon_ham, .cross{
        display: inline-block;
        width: 35px;
    }
    
    .icon_ham{
        position: relative;
        padding: 20%;
    }
    
    .cross{
        position: absolute;
    }
    
    nav a{
        width: 100%;
        display: inline-block;
        line-height: 2;
        font-size: 1em;
    }
    
    .info{
        margin-top: 5%;
    }
    
    .infod, .progd, .tecnd, .cursosd{
        border-right: 0px;
    }
    
    .logod{
        position: relative;
        text-align: center;
    }
    
    .logo{
        margin-top: 4%;
    }
    
    .emissao{
        margin-top: 6%;
    }
    
    .traco{
        display: none;
    }
    
    .ultimastitulo{
        text-align: center;
        line-height: 1.2;
    }
    
    .bacanal{
        margin-top: 0;
    }
    
    .new_content, .new_content_1, .new_content_{
        margin-left: 4%;
    }
    
    .separador{
        width: 80%;
        margin-bottom: 10%;
        margin-top: 15%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .ler_mais{
        margin-left: 4%;
        margin-right: 4%;
    }

    .info-content a{
        padding-top: 1%;
    }
    
    
    .prog-content a{
        padding-top: 1%;
    }
    
    .tecn-content a{
        padding-top: 1%;
    }
    
    
    .cursos-content a{
        padding-top: 1%;
    }
    
    .ruc-content a{
        padding-top: 1%;
    }   
    
    .social{
        margin-bottom: 0;
    }
    
    .info-content, .prog-content, .tecn-content, .cursos-content, .ruc-content{
        box-shadow: none;
        font-size: 0.8em;
        width: 100vw;
        text-align: center;
    }
}